.gradle
.settings
.idea
build
out

.vscode
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar

config/keystores
!config/keystores/localhost

testsvc/

.project
.classpath

*.pyc
venv/

R&D/*
